body {
	font-family: monospace;
	background-color: #000;
	overflow: hidden;
	margin: 0px;
}
.tab-content {
	position: fixed;
	top: 50px;
	left: 10px;
}
/* .var-range {
	transition: opacity 0.25s;
	opacity: 0.2;
	background-color: #333;
	padding-left: 2px;
	padding-right: 7px;
}
.var-range:hover {
	opacity: 1;
}
.var-range:not(:nth-child(1)) {
	margin-top: 10px;
}
.var-range > * {
	vertical-align: middle;
	margin: 5px 0px 5px 5px;
}
.var-range .label {
	width: 120px;
	color: #fff;
	font-size: 12px;
	margin-bottom: 3px,;
	display: inline-block;
}
.var-range input[type="text"] {
	font-family: monospace;
	color: #ccc;
	background-color: #222;
	border: none;
	width: 120px;
}
.var-range input[type="range"] {
	width: 512px;
} */
.tabs {
	font-size: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background-color: #333;
}
.tabs button {
	height: 24px;
	margin-top: 8px;
	margin-left: 8px;
	background-color: #555;
	border: none;
	color: #aaa;
	border-radius: 3px;
	cursor: pointer;
}
.tabs button.selected {
	background-color: #ccc;
	color: #444;
}
.tab-content button {
	border: none;
	height: 24px;
	border-radius: 3px;
	background-color: #333;
	color: #ccc;
	cursor: pointer;
	width: 120px;
	display: block;
	opacity: 0.5;
	transition: 0.25s;
}
.tab-content button:hover {
	opacity: 1;
}
.tab-content button:not(:nth-child(1)) {
	margin-top: 5px;
}
.tab-content button.on,
.tab-content button.selected {
	background-color: #ccc;
	color: #333;
}
.range {
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
}
.range-block {
	background-color: #333;
	padding-left: 2px;
	padding-right: 7px;
	display: inline-block;
	margin-bottom: 10px;
}
.range-block > * {
	vertical-align: middle;
	margin: 5px 0px 5px 5px;
}
.range-block .label {
	color: #fff;
	font-size: 12px;
	margin-bottom: 3px,;
	display: inline-block;
	text-align: left;
}
.range-block input[type="text"] {
	font-family: monospace;
	color: #ccc;
	background-color: #222;
	border: none;
	width: 120px;
}
.range-block input[type="range"] {
	width: 512px;
}
